* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./firstPizza.jpg") no-repeat fixed center center/cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-end;
}

.container{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 33vw;
    height: 150vh;
    opacity: 0.9;
    padding: 2rem;
    background-color: lightgoldenrodyellow;
    border-radius: 1rem;

}

h1{
    text-align: center;
    
}

form > h2{
    text-align: center;
    color: gray;
    margin-bottom: 2rem;
}

.customer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin-bottom: 2rem;
}

input[type="text"]{
    width: 100%;
    padding: 0.5rem;
}

div.customer label{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px;
}

div.container h2 {
    font-size: 1.5rem;
} 

.pizzaSizes{
    margin-bottom: 1rem;
}

div.pizzaSizes label {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    font-size: 16px;
    padding-left: 1rem;
}

input[type="radio"]{
    position: relative;
}

div.pizzaSizes p {
    font-size: 14px;
    margin: 0;
    color: gray;
    padding-left: 0;
}

.toppings{
    margin-bottom: 1rem;
}

div.toppings label {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    font-size: 16px;
    padding-left: 1rem;
}

input[type="checkbox"]{
    position: relative;

}

div.toppings h2 {
    font-size: 1.5rem;
} 

div.toppings p {
    font-size: 14px;
    margin: 0;
    color: gray;
    padding-left: 0;
} 

.means label{
    font-size: 1.5rem;
    padding: 0 10px;
    font-weight: bold;
}

select{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

input[type=submit]{
    background-color: darkkhaki;
    width: 30%;
    padding: .5rem;
    font-weight: bold;
    font-size: large;
    color: white;
    border: none;
    margin: 10px 0;

}

label{
    padding-bottom: 2rem;
}
#order {
    position: fixed;
    left: 2rem;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    color: white;
    font-size: larger;
    width: 19vw;
}

span {
    color:salmon
}