*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    background: url(./insurance2.jpg) no-repeat fixed center center/cover;
}

.container{
    display: flex;
    justify-content: flex-start;
   flex-flow: row wrap;
    align-items: center;
    height: 150vh;
    width: 34vw;
    background-color: #ffffffad;
    padding: 2rem;
    border-radius: 1rem;
    
}
h1{
    text-align: center;
    font-weight: bolder;
    margin: 0;
}

form p{
    text-align: center;
    color:blue;
    margin: 2rem 0;
}

form h2{
    text-align: left;
    margin: 1rem 0;
    font-size: 1.1rem;

}

input[type=text], input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    border: 0.5px solid lightgray;
}
label{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 1rem;
}

input[type=checkbox]{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 0 5px;
    left: 0%;

}
input[type=submit]{
    color: white;
    font-size: medium;
    background-color: salmon;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid salmon;
    cursor: pointer;
    opacity: 0.9
}
input[type=submit]:hover{
    opacity: 1;
}
#results {
    position: fixed;
    right: 2rem;
    top: 0;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    color: white;
    font-size: larger;
    width: 20vw;
    box-shadow: 0 0 5px gray;
    border: 1px solid gray;
    background-color: black;

}

span {
    color: blue
}
